---
layout: default
---

<div id="introduction">
	<h1 id="name">Vinay Verma</h1>
	<h3 id="username">@devshmsec</h3>

	<a href="https://twitter.com/devshmsec">
		<i class="fab fa-twitter-square fa-2x"></i>
	</a>

	<a href="https://www.reddit.com/user/devshmsec">
		<i class="fab fa-reddit-square fa-2x"></i>
	</a>

	<a href="https://instagram.com/devshmsec">
		<i class="fab fa-instagram-square fa-2x"></i>
	</a>

	<a href="https://github.com/devshmsec">
		<i class="fab fa-github-square fa-2x"></i>
	</a>

	<a href="https://linkedin.com/devshmsec">
		<i class="fab fa-linkedin fa-2x"></i>
	</a>

	<a href="https://www.youtube.com/channel/UC-dB1OagL9ixiektaFVEnew">
		<i class="fab fa-youtube-square fa-2x"></i>
	</a>

	<p id="description">
		Hi, I am student at Bhilai Institute of Technology, Durg currently
		majoring in Computer Science and Engineering. I like to play CTFs and
		pwning boxes.I also have a youtube channel where i upload walkthroughs
		of CTFs and security related contents.
	</p>

	<a href="/assets/docs/resume.pdf">
		<button id="resume">
			Resume
			<svg
				class="bi bi-box-arrow-in-down"
				width="1em"
				height="1em"
				viewBox="0 0 16 16"
				fill="currentColor"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					d="M4.646 8.146a.5.5 0 0 1 .708 0L8 10.793l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
				/>
				<path
					fill-rule="evenodd"
					d="M8 1a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0v-9A.5.5 0 0 1 8 1z"
				/>
				<path
					fill-rule="evenodd"
					d="M1.5 13.5A1.5 1.5 0 0 0 3 15h10a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 13 4h-1.5a.5.5 0 0 0 0 1H13a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-8A.5.5 0 0 1 3 5h1.5a.5.5 0 0 0 0-1H3a1.5 1.5 0 0 0-1.5 1.5v8z"
				/>
			</svg>
		</button>
	</a>
</div>

<br />

<div class="home">
	{%- if page.title -%}
	<!-- <h1 class="page-heading">{{ page.title }}</h1> -->
	{%- endif -%} {{ content }} {% if site.paginate %} {% assign posts =
	paginator.posts %} {% else %} {% assign posts = site.posts %} {% endif %}
	{%- if posts.size > 0 -%} {%- if page.list_title -%}
	<h2 class="post-list-heading">{{ page.list_title }}</h2>
	{%- endif -%}
	<ul class="post-list">
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
		-%} {%- for post in posts -%}
		<li>
			<span class="post-meta">{{ post.date | date: date_format }}</span>
			<h3>
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
			</h3>
			{%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
		</li>
		{%- endfor -%}
	</ul>

	{% if site.paginate %}
	<div class="pager">
		<ul class="pagination">
			{%- if paginator.previous_page %}
			<li>
				<a
					href="{{ paginator.previous_page_path | relative_url }}"
					class="previous-page"
					>{{ paginator.previous_page }}</a
				>
			</li>
			{%- else %}
			<li>
				<div class="pager-edge">•</div>
			</li>
			{%- endif %}
			<li>
				<div class="current-page">{{ paginator.page }}</div>
			</li>
			{%- if paginator.next_page %}
			<li>
				<a
					href="{{ paginator.next_page_path | relative_url }}"
					class="next-page"
					>{{ paginator.next_page }}</a
				>
			</li>
			{%- else %}
			<li>
				<div class="pager-edge">•</div>
			</li>
			{%- endif %}
		</ul>
	</div>
	{%- endif %} {%- endif -%}
</div>
