---
layout: default
---

<nav>
	<ul></ul>

	<span class="share">
		<h4 id="share-text">Share on</h4>

		<a
			href="https://twitter.com/share?ref_src=twsrc%5Etfw"
			class="twitter-share-button"
			data-text="Walkthrough by Vinay Verma"
			data-via="devshmsec"
			data-hashtags="walkthroughs"
			data-related=""
			data-lang="en"
			data-show-count="false"
		>
			<i class="fab fa-twitter-square fa-2x"></i>
		</a>

		<a href="https://www.reddit.com/user/devshmsec">
			<i class="fab fa-reddit-square fa-2x"></i>
		</a>

		<a href="https://linkedin.com/in/devshmsec">
			<i class="fab fa-linkedin fa-2x"></i>
		</a>
	</span>
</nav>

<section>{{ content }}</section>
