---
layout: default
---

<nav>
    <ul></ul>

    <span class="share">

        <h5>Share on</h5>

        <a id="twitter" href="#twitter">
            <img src="/assets/icons/twitter-square-brands.png" />
        </a>

        <a id="reddit" href="#reddit">
            <img src="/assets/icons/reddit-square-brands.png" />
        </a>

        <a id="linkedin" href="#linkedin">
            <img src="/assets/icons/linkedin-brands.png" />
        </a>
    </span>
</nav>

<section>
    {{ content }}
</section>